RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html?path=$1 [NC,L,QSA]
RewriteCond %{HTTP_USER_AGENT} Sileo
RewriteRule ^Release$ sileo/Release [R=301]
RewriteCond %{HTTP_USER_AGENT} Sileo
RewriteRule ^Packages$ sileo/Packages [R=301]
RewriteCond %{HTTP_USER_AGENT} Sileo
RewriteRule ^Packages.bz2$ sileo/Packages.bz2 [R=301]